body {
    font-family: Arial, sans-serif;
    background-color: #ccc6c6;
    
    display: flex;    
    justify-content: center;

    align-items: center;
    
    height: 100vh;
}

.contenedor {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;
}


button.btnAccion {
    background-color: #007bff;
}

.mensaje-correcto{
    color: rgb(0, 106, 0);
    background-color: rgb(134, 255, 134);
}
.mensaje-error{
    background-color: rgb(252, 90, 90);
    color: rgb(157, 2, 2);
}


